[submodule "ml/mnemonic-reader"]
	path = ml/mnemonic-reader
	url = https://github.com/yujiakimoto/mnemonic-reader
[submodule "ml/duplicate_questions"]
	path = ml/duplicate_questions
	url = https://github.com/yuzhshen/duplicate_questions.git
[submodule "ml/duplicate-questions"]
	path = ml/duplicate-questions
	url = https://github.com/yuzhshen/duplicate-questions
[submodule "ml/MnemonicReader"]
	path = ml/MnemonicReader
	url = https://github.com/HKUST-KnowComp/MnemonicReader.git
