<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An interactive question answering system">
    <meta name="author" content="Cornell Data Science">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <title>iFAQ</title>

</head>

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #595b88;">
    <a class="navbar-brand mr-0 mr-md-2" href="#">
        <img src="../static/images/cds-small.png" width="30" height="27">
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="documents">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
            </li>
        </ul>
    </div>

    <button type="button" class="btn btn-light ml-auto">Sign in</button>
</header>

<body>

{% block upload %}{% endblock %}
{% block question %}{% endblock %}
{% block answer %}{% endblock %}

<script src="../static/dist/bundle.js" type="text/javascript"></script>

</body>

</html>
