{% extends 'base.html' %}

{% block upload %}
	<form method="post" action="{{ url_for('.app') }}">
		<label>
            Upload Document:
		    <input type="file" name="fileIn"/>
            <input type="submit" value="Submit"/>
        </label>
	</form>
{% endblock %}

{% block question %}
    <form method="post" action="{{ url_for('.app') }}">
        <label>
            Question:
            <textarea
                    name="question"
                    cols="60"
                    rows="1"
                    autocomplete="on"
                    placeholder="What is the meaning of life?"
                    spellcheck="true"></textarea>
		    <input type="submit"/>
        </label>
	</form>
{% endblock %}