{% extends 'base.html' %}

{% block question %}
    <form method="post" action="{{ url_for('.app') }}">
        <div class="form-group">
            <label for="question">Question</label>
            <textarea class="form-control" id="question" rows="3" cols="60"
                      placeholder="What is the meaning of life?"></textarea>
            <input type="submit"/>
        </div>
    </form>
{% endblock %}

{% block answer %}
    <form method="get" action="{{ url_for('.app') }}">
        <div class="form-group">
            <label for="answer">Answer</label>
            <textarea class="form-control" id="question" rows="3" cols="60" readonly></textarea>
        </div>
    </form>
{% endblock %}